<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__col footer__col_small">
				<div class="footer__logo">
					<img src="assets/img/logo_footer.png" alt="123" class="footer__logo-img">
				</div>
			</div>
			<div class="footer__col footer__col_big">
				<div class="footer__text">
					Nam mi enim, auctor non ultricies a, fringilla eu risus. Praesent vitae lorem et elit tincidunt accumsan suscipit eu libero. Maecenas diam est, venenatis vitae dui in, vestibulum mollis arcu. Donec eu nibh tincidunt, dapibus sem eu, aliquam dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum consectetur commodo eros, vitae laoreet lectus aliq
				</div>
			</div>
			<div class="footer__col">
				<div class="footer__text">
					aliquam dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum consectetur commodo eros, vitae laoreet lectus aliq
				</div>
			</div>
			<div class="footer__col">
				<ul class="footer__list">
					<li class="footer__item"><a href="#" class="footer__link">List one</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Page two</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Design</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Work</a></li>
					<li class="footer__item"><a href="#" class="footer__link">Contact Me</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>