.carusel {
	height: auto;
	padding: 40px 0;
	&::before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		bottom: 100%;
		left: 50%;
		border: 26px solid transparent;
		border-bottom: 26px solid #fff;				
		transform: translateX(-50%);
	}
}
.carusel__wrapper {
	text-align: center;
}
.carusel__list {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 35px;
}
.carusel__item {
	position: relative;	
	width: calc(100%/4 - 15px);	
	cursor: pointer;
	text-align: left;
	&::after {
		content: 	'';
		display: block;	
		box-sizing: border-box;
		position: absolute;			
		height: 100%;
		width: 100%;		
		top: 0;
		left: 0;
		box-shadow: $colorTheme;
		transition: .3s;
	}	
	&:hover {
		&::after {
			box-shadow: inset 0 0 0 10px $colorTheme;
		}
		.carusel__item-title {
			color: $colorTheme;
		}
		.carusel__item-text {
			color: $colorTheme;
		}
		.carusel__autor::before {
			border-top-color: $colorTheme; // Show borders
    	border-right-color: $colorTheme;
    	border-bottom-color: $colorTheme;

    	transition:
      border-top-color 0.1s linear, // Stagger border appearances
      border-right-color 0.1s linear 0.05s,
      border-bottom-color 0.1s linear 0.1s;
		}
		.carusel__autor::after {
    	border-top: 4px solid $colorTheme; // Shows border
    	border-left-width: 4px; // Solid edges, invisible borders
    	border-right-width: 4px; // Solid edges, invisible borders    
    	transform: rotate(270deg); // Rotate around circle
    	transition:	transform 0.3s linear 0s;      	
  	}
	}
}
.carusel__item-link {
	display: block;
	text-decoration: none;
	color: inherit;
}
.carusel__item-block {
	padding: 44px 35px;
}
.carusel__item-title {
	@extend .section__title;
	margin-bottom: 18px;
	transition: .3s;
}
.carusel__item-text {
	@extend .section__text;	
	transition: .3s;
}
.carusel__item-pic {
	width: 100%;
	height: 175px;
	background-position: 50%;
	background-size: cover;
}
.carusel__img-tag {
	display: none;
}
.carusel__autor {	
	display: block;
	width: 88px;
	height: 88px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: inset 0 0 0 4px #f3f3f3;
	position: absolute;
	top: 174px;
	transform: translate(-50%, -65%);
	left: 50%;
	background-size: cover;
	background-position: center;
	&::after, &::before {
		content: '';
		display: block;		
		width: 100%;
		height: 100%;
		position: absolute;	
		top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 50%;
	}
	&::before {
		border: 4px solid transparent;
	}	
	&::after {
		border: 4px solid transparent;
	}
}
.carusel__autor-avatar {
	display: none;
}
.carusel__controls {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.carusel__page-list {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	margin-left: -5px;
	position: relative;
	z-index: 2;
}
.carusel__page-item {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	border: 3px solid #929da5;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	font-size: 1rem;
	margin-left: 5px;
	transition: border .2s, background-color .4s;	
	&_active {
		background-color: #929da5;
		border: 3px solid #fff;
	}
	&:hover {
		border: 3px solid #fff;
		background-color: #929da5;
	}	
}
.carusel__nav {
	height: 26px;
	width: 140%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: -20%;
}
.carusel__btn {
	display: block;
	width: 14px;
	height: 14px;
	border: 2px solid #929da5;
	border-right: none;
	border-bottom: none;	
	border-radius: 2px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
}
.carusel__btn_prev {
	transform: rotate(-45deg);
	right: 100%;	
}
.carusel__btn_next {
	transform: rotate(135deg);
	left: 100%;
}
