@font-face {
    font-family: 'sintonybold';
    src: url('../../fonts/sintony-bold-webfont.woff2') format('woff2'),
         url('../../fonts/sintony-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sintonyregular';
    src: url('../../fonts/sintony-regular-webfont.woff2') format('woff2'),
         url('../../fonts/sintony-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneue';
    src: url('../../fonts/HelveticaNeue-Black.woff2') format('woff2'),
         url('../../fonts/HelveticaNeue-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
