.testimonials {
	height: 100%;
	padding: 78px 0;
	background-color: $colorTheme;
	border-bottom: 8px solid #58b9a1;
	color: #fff;
}
.testimonials__wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
.testimonials__slider {
	width: 1060px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	.owl-item {
		display: inline-block;
		position: relative;
	}
}
.testimonials__list {
	white-space: nowrap;	
}
.testimonials__item {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}
.testimonials__blockquote {
	position: relative;	
	text-align: center;
	@include font-standart;
	font-size: (30/14)+rem;
	line-height: (44/14)+rem;
	font-style: italic;
	padding: 20px 0;
	margin: 0;
	&::after,&::before {
		content: '“';
		display: block;
		position: absolute;
		font: inherit;
		@include font-standart;
		font-size: (48/14)+rem;		
	}
	&::before {
		left: 0;
		top: 0;
	}
	&::after {
		right: 0;
		bottom: 20px;
		transform: rotate(180deg);
	}
}
.testimonials__autor {
	display: inline-block;
	@include font-standart;
	font-size: (18/14)+rem;
	margin-bottom: 45px;
}
.testimonials__page-list {
	@extend .carusel__page-list;
}
.testimonials__page-item {
	@extend .carusel__page-item;	
	border: 3px solid #fff;
	background-color: transparent;	
	&.active {
		background-color: #fff;
		border: 3px solid $colorTheme;
	}
	&:hover {
		border: 3px solid $colorTheme;
		background-color: #fff;
	}	
}
.testimonials__controls {
	@extend .slider__nav;
	width: 100%;
	height: (40/14)+rem;
}
.testimonials__btn {
	display: inline-block;
	@extend .slider__nav-btn;
	font-size: (19/14)+rem;
	line-height: (40/14)+rem;	
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: rgba(0,0,0, .1);
	border-radius: 50%;
	font-weight: bold;
	cursor: pointer;
	border: none;
	user-select: none;
	&:hover {
		color: #fff;
	}
	&::before {
		content: '';
		display: block;
		width: 7px;
		height: 7px;
		border: 2px solid #FFF;
		border-right: none;
		border-bottom: none;	
		border-radius: 2px;
		position: absolute;
		top: 50%;
		left: 50%;		
	}
	&_prev {
		left: 0;
		top: 0;
		&::before {			
			transform: translate(-30%, -50%) rotate(-45deg);				
		}
	}
	&_next {
		right: 0;
		top: 0;
		&::before {
			transform: translate(-70%, -50%) rotate(135deg);
		}
	}
}
.testimonials__animate-out{
	animation: fadeOut .5s both;
}
.testimonials__animate-in{
	animation: fadeIn 1s 10s both;
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.owl-animated-out {
	z-index : 1 
}
.owl-animated-in {
	z-index : 0 
}
