// VARIABLES
	// colors 
$colorMain: #fff;
$colorTheme: #63c6ae;
$colorAlt: #242a2c;


@import 'mixins';
@import 'fonts';
@import 'adjusments';
@import 'header';
@import 'promo';
@import 'section';
@import 'carusel';
@import 'info';
@import 'articles';
@import 'laptop';
@import 'slider';
@import 'tile';
@import 'testimonials';
@import 'footer';